<!DOCTYPE html>
<html>
  <head>
    <title>TryRails</title>
    <%= csrf_meta_tags %>

    <%# On Windows, the first parameters of two lines below have been changed from "application" to "default". %>
    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
